{% extends 'base.html.twig' %}

{% block title %}Enregistrer une journée{% endblock %}

{% block body %}
<h1 class="mb-4">Enregistrer une journée</h1>

{{ form_start(form) }}
<div class="row mb-3">
    <div class="col-md-6 test">
        {{ form_label(form.date) }}
        {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
    </div>
    
</div>

<div class="row mb-3">
    <div class="col-md-4">
        <div class="checkbox-wrapper">
            {{ form_widget(form.petit_dejeuner) }} {{ form_label(form.petit_dejeuner) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="checkbox-wrapper">
            {{ form_widget(form.repas_midi) }} {{ form_label(form.repas_midi) }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="checkbox-wrapper">
            {{ form_widget(form.repas_soir) }} {{ form_label(form.repas_soir) }}
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-6">
        <div class="checkbox-wrapper">
            {{ form_widget(form.nuit) }} {{ form_label(form.nuit) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="checkbox-wrapper">
            {{ form_widget(form.dimanche) }} {{ form_label(form.dimanche) }}
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-6 test">
        {{ form_label(form.lieu) }}
        {{ form_widget(form.lieu, {'attr': {'class': 'form-control'}}) }}
    </div>
    
</div>

<div class="row mb-3">
    <div class="col-md-6 test">
        {{ form_label(form.heureVolantTime) }}
        {{ form_widget(form.heureVolantTime, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-md-6 test">
        {{ form_label(form.heuresTotalesTime) }}
        {{ form_widget(form.heuresTotalesTime, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>



<div class="form-group">
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
</div>
{{ form_end(form) }}
{% endblock %}
